body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title{
  margin: 20px;
}

.tasks{
  margin: 20px;
}

.main {
   margin: 20px;
}

.gallery {
  list-style-type: none;
  padding-left: 0;
  margin: 24px auto;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-image {
  width: 360px;
  height: 200px;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px;
  width: 360px;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.feedback-form button {
  background-color: #4e75ff;
  margin-top: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 8px;
  width: 95px;
  height: 40px;
  color: #fff;
}

.feedback-form button:hover{
  background-color: #6c8cff;
}
